<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mentit.dartify">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".HelperClasses.MyApplication"
        tools:replace="android:allowBackup">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_logonotificacion" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/color_accent" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3484434512354428~7871839018"/>
        <activity
            android:name=".Activities.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.FacebookLoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <service
            android:name="com.mentit.dartify.HelperClasses.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Activities.PhotosetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.GalleryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.JustNowActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_just_now"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.JustNowQuizActivity"
            android:label="@string/title_activity_just_now_quiz"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.ChemistryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.PersonalityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.HumorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.HumorQuizActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.PersonalityQuizActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.BlockedUsersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.StoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ConfigureProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <service
            android:name=".Services.GetMessagesService"
            android:enabled="true" />
    </application>
</manifest>